<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="image-carousel" src="../../../../assets/cover-image.jpg" alt="Bakery & Dairy">
        <div class="carousel-caption">
          <h3>Bakery and Dairy</h3>
        </div>   
      </div>
      <div class="carousel-item">
        <img class="image-carousel" src="../../../../assets/fruits-veggies.jpg" alt="Fruits & vegetables">
        <div class="carousel-caption">
          <h3>Fruits & Vegetables</h3>
        </div>   
      </div>
      <div class="carousel-item">
        <img class="image-carousel" src="../../../../assets/sea-food.jpg" alt="Seafoods">
        <div class="carousel-caption">
          <h3>Seafoods</h3>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>