<div class="container container-margin">
    <div class="card">
        <div class="card-header">
            <b>Categories</b>
        </div>
        <div class="card-block">
            <div class="list-group">
                <a href="#" class="list-group-item">All</a>
                <a href="#" class="list-group-item">Meat</a>
                <a href="#" class="list-group-item">Seafood</a>
                <a href="#" class="list-group-item">Bakery</a>
                <a href="#" class="list-group-item">Dairy</a>
                <a href="#" class="list-group-item">Fruit & Vegetables</a>
            </div>        
        </div>
    </div> 
</div>
