<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor= "let product of products">
            <div class="card card-css">
                <div class="card-header">
                    <h5 class="card-title" style="text-align: center;">{{ product.title }}</h5>
                </div>
                <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="{{ product.title}}">
                <div class="card-block">
                    <h4 class="card-subtitle">
                        <span class="tag tag-success">Price: ${{ product.price }}</span>
                    </h4>
                    <hr>
                    <a class="btn btn-primary" (click)='addToCart(product)'>Buy Now 
                    </a>
                    <a class="btn btn-primary" style="margin-left: 10px;"
                        [routerLink]="['/products', product.id]">More Info
                    </a>
                    <hr>
                    <p class="card-text">{{product.desc}}</p>
                </div>
            </div>
        </div>       
    </div>
</div>
