<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-css">
                <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 1">
                <div class="card-block">
                    <h4 class="card-title">Product 1</h4>
                    <h4 class="card-subtitle">
                        <span class="tag tag-success">$10</span>
                    </h4>
                    <hr>
                    <div class="btn-group"  role="group">
                        <button class="btn btn-primary">Buy</button>
                        <button class="btn btn-info">Info</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-css">
                <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 1">
                <div class="card-block text-xs-center">
                    <h4 class="card-title">Product 1</h4>
                    <h4 class="card-subtitle">
                        <span class="tag tag-success">$10</span>
                    </h4>
                    <hr>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary">Buy</button>
                        <button class="btn btn-info">Info</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-css">
                <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 1">
                <div class="card-block text-xs-center">
                    <h4 class="card-title">Product 1</h4>
                    <h4 class="card-subtitle">
                        <span class="tag tag-success">$10</span>
                    </h4>
                    <hr>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary">Buy</button>
                        <button class="btn btn-info">Info</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-css">
                <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 1">
                <div class="card-block text-xs-center">
                    <h4 class="card-title">Product 1</h4>
                    <h4 class="card-subtitle">
                        <span class="tag tag-success">$10</span>
                    </h4>
                    <hr>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary">Buy</button>
                        <button class="btn btn-info">Info</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-css">
                <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 1">
                <div class="card-block text-xs-center">
                    <h4 class="card-title">Product 1</h4>
                    <h4 class="card-subtitle">
                        <span class="tag tag-success">$10</span>
                    </h4>
                    <hr>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary">Buy</button>
                        <button class="btn btn-info">Info</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card card-css">
                <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 1">
                <div class="card-block text-xs-center">
                    <h4 class="card-title">Product 1</h4>
                    <h4 class="card-subtitle">
                        <span class="tag tag-success">$10</span>
                    </h4>
                    <hr>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary">Buy</button>
                        <button class="btn btn-info">Info</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
