<div class="container container-margin">
    <div class="card">
        <div class="card-header">
            <b>Quick Shop</b>
        </div>
        <div class="card-block">
            <div class="input-group">
                <input #search type="text" placeholder="Search For..." class="form-control" (keyup)= "searchChanged(search.value)">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)= "searchProduct(search.value)" [disabled]= "disabled">Go!</button>
                </span>
            </div>
        </div>
    </div> 
</div>